.login-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.app-title{
display: flex;
flex-direction: column;
width: fit-content;
margin: 10vh auto;
flex-grow: 0;
flex-shrink: 0;
}

.user-cue{
    color: var(--app-brand-color_2);
    font-size: 0.78rem;
    font-weight: var(--bold);
}

.clickable-text{
    margin-top: 3em;
    color: var(--clickable-text-color);
    margin-bottom: 2em;
}

.sign-in{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0.5em;
}


.social-login-button-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.social-login-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    color: inherit;
    padding: 0;
    border: 0px;
}

.google{
    background-image: url('../../../public/web_dark_rd_na.svg');
}

/*
.x{
    background-image: url('./media/icons/logo.svg');
    background-color: black;
}

.instagram{
    background-image: url('./media/icons/');
}
*/


.button{
    width: clamp( 250px, 100vw, 350px);
    min-width: 250px;
    height: 50px;
    border: var(--primary-button-border);
    border-radius: 20px;
    background: var(--app-brand-color_3);
    color: white;
}

