/*
@property --ipad-pro-width{
    syntax: "<number OR color OR length>";
    inherits: true OR false; 
    initial-value : SOME_VALUE; 
}
*/

:root{
    /*fonts and typography*/
    --global-font: 'Kumbh Sans';
    --bold: 800;
    
    /*colors*/
    --app-background-color: #01040C;
    --app-brand-color_1: #A9FF70;
    --app-brand-color_2: #88C0FF;
    --app-brand-color_3: #732017;
    
    --primary-button-background: var(--app-brand-color_3);
    --primary-button-border: 1px solid #FF0000;

    --secondary-button-background: #16222E;
    --secondary-button-border: 1px solid #009BFF;

    --clickable-text-color: #FFEB0A;

    
    /*display*/
    --ipad-pro-width: 1280px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.login-container{ 
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

html, body {
    font-family: var(--global-font);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-color: var(--app-background-color);
}

h1{ 
    color: var(--app-brand-color_1);
    text-align: left;
    font-size: 4rem;
    font-weight: var(--bold);
    line-height: 1.3;
}

.app-title{ 
display: flex;
flex-direction: column;
width: fit-content;
margin: 10vh auto;
flex-grow: 0;
flex-shrink: 0;
}

.user-cue{ 
    color: var(--app-brand-color_2);
    font-size: 0.78rem;
    font-weight: var(--bold);
}

.clickable-text{ 
    margin-top: 3em;
    color: var(--clickable-text-color);
    margin-bottom: 2em;
}

.sign-in{ 
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0.5em;
}


.social-login-button-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.social-login-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    color: inherit;
    padding: 0;
    border: 0px; 
}

.google{ 
    background-image: url('./media/icons/web_dark_rd_na.svg');
}

/*
.x{
    background-image: url('./media/icons/logo.svg');
    background-color: black; 
}

.instagram{ 
    background-image: url('./media/icons/');
}
*/


.button{ 
    width: clamp( 250px, 100vw, 350px);
    min-width: 250px;
    height: 50px;
    border: var(--primary-button-border);
    border-radius: 20px;
    background: var(--primary-button-background);
    color: white;
}



