/* You can add global styles to this file, and also import other style files */
/*
@property --ipad-pro-width{
    syntax: "<number OR color OR length>";
    inherits: true OR false;
    initial-value : SOME_VALUE;
}
*/

:root{
  /*fonts and typography*/
  --global-font: 'Kumbh Sans';
  --bold: 800;

  /*colors*/
  --app-background-color: #01040C;
  --app-brand-color_1: #A9FF70;
  --app-brand-color_2: #88C0FF;
  --app-brand-color_3: #732017;

  --primary-button-background: var(--app-brand-color_3);
  --primary-button-border: 1px solid #FF0000;

  --secondary-button-background: #16222E;
  --secondary-button-border: 1px solid #009BFF;

  --clickable-text-color: #FFEB0A;


  /*display*/
  --ipad-pro-width: 1280px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--global-font);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-color: var(--app-background-color);
}

h1{
    color: var(--app-brand-color_1);
    text-align: left;
    font-size: 4rem;
    font-weight: var(--bold);
    line-height: 1.3;
}

