.button{
  width: clamp( 250px, 100vw, 350px);
  min-width: 250px;
  height: 50px;
  border: var(--primary-button-border);
  border-radius: 20px;
  background: var(--primary-button-background);
  color: white;
}

.button:hover {
  background-color: midnightblue;
}
