/* You can add global styles to this file, and also import other style files */
/*
@property --ipad-pro-width{
    syntax: "<number OR color OR length>";
    inherits: true OR false;
    initial-value : SOME_VALUE;
}
*/

:root{
  /*fonts and typography*/
  --global-font: 'Kumbh Sans';
  --bold: 800;

  /*colors*/
  --app-background-color: linear-gradient(180deg, #070111 0.000%, #02072c 50.000%, #000000 100.000%);
  --app-brand-color_1: #748b51;
  --app-brand-color_2: #6e91b8;
  --app-brand-color_3: #58355E;

  --primary-button-background-unfocused: #1D0B0E;
  --primary-button-background-focused: rgb(64, 22, 22);
  --secondary-button-background-unfocused: #16222E;
  --tertiary-button-background-unfocused: none;
  --button-border-unfocused: 1px solid grey;
  --button-border-focused: 1px solid  white;
  --button-font-color: white;
  --clickable-text-color: #FFEB0A;
  --standard-gap: 20px;


  /*display*/
  --ipad-pro-width: 1280px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body {
    font-family: var(--global-font);
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
    overflow: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--app-background-color);
    border: 1px solid white;
}

h1{
    color: var(--app-brand-color_1);
    text-align: left;
    font-size: 5rem;
    font-weight: var(--bold);
    line-height: 1.3;
}

.center-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}


.form-font{
  font-size: 18px;
  color: white;
}

.app-title{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px auto;
  flex-grow: 0;
  flex-shrink: 0;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
  }
